.container {
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto; }

.col-1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr; }

.col-2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px; }

.col-3 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px; }

.col-4 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px; }

.col-5 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px; }

.col-6 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px; }

.col-7 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 30px; }

.col-8 {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 30px; }

.cta {
  background: #3544b1;
  padding: 90px;
  margin-bottom: 90px; }
  .cta .cta-description {
    color: #FFF; }
    .cta .cta-description h3 {
      font-size: 36px;
      margin-bottom: 20px; }
    .cta .cta-description p:not(:last-child) {
      margin-bottom: 16px; }
  .cta .cta-count {
    color: #FFF;
    margin-left: 110px; }
    .cta .cta-count .cta-count-detail h2 {
      font-size: 54px;
      font-weight: 900; }

.newsletter-subscribe {
  margin-bottom: 90px; }
  .newsletter-subscribe h2,
  .newsletter-subscribe p {
    text-align: center; }
  .newsletter-subscribe h2 {
    font-size: 45px; }
  .newsletter-subscribe form {
    width: 50%;
    margin: auto;
    margin-top: 35px; }
    .newsletter-subscribe form .form-group {
      margin-bottom: 20px; }
    .newsletter-subscribe form input {
      width: 100%;
      padding: 18px 25px;
      font-size: 18px;
      font-style: italic; }
    .newsletter-subscribe form .btn {
      display: inline-block;
      cursor: pointer;
      border: none;
      outline: none;
      border: 2px solid transparent;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 25px;
      border-radius: 3px;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      line-height: 1.55;
      background: #3544b1;
      color: #FFF;
      text-decoration: none;
      width: 100%; }
      .newsletter-subscribe form .btn:hover {
        background: #4f5eca; }

footer {
  background-color: #f9f7f4;
  padding: 90px; }
  footer ul li h3 {
    font-size: 22px;
    margin-bottom: 18px; }
  footer ul li a {
    font-size: 16px;
    color: #8A8A8A;
    text-decoration: none; }
    footer ul li a:hover {
      color: #3544b1; }
  footer ul li:not(:last-child) {
    margin-bottom: 14px; }
  footer ul .footer-links ul li {
    position: relative;
    margin-left: 30px; }
    footer ul .footer-links ul li::before {
      font-size: 16px;
      color: #3544b1;
      -webkit-transform: translate(0, -36%);
      -ms-transform: translate(0, -36%);
      transform: translate(0, -36%);
      position: absolute;
      top: 50%;
      left: -30px;
      font-weight: 900;
      font-family: "Font Awesome 5 Brands"; }
  footer ul .footer-links ul li.community::before {
    font-family: "Font Awesome 5 Free";
    content: "\f004"; }
  footer ul .footer-links ul li.umtv::before {
    font-family: "Font Awesome 5 Free";
    content: "\f04b"; }
  footer ul .footer-links ul li.umgit::before {
    content: "\f09b"; }
  footer ul .footer-links ul li.blog::before {
    font-family: "Font Awesome 5 Free";
    content: "\f004"; }
  footer ul .footer-links ul li.facebook::before {
    content: "\f39e"; }
  footer ul .footer-links ul li.twitter::before {
    content: "\f099"; }
  footer ul .footer-links ul li.insta::before {
    content: "\f16d"; }

.team {
  margin-bottom: 90px; }
  .team .team-title {
    text-align: center;
    margin-bottom: 50px; }
    .team .team-title h2 {
      font-size: 45px;
      margin-bottom: 10px; }
  .team .team-member-list-info {
    text-align: center;
    margin-top: 30px; }
    .team .team-member-list-info h2 {
      font-size: 22px;
      margin-bottom: 10px; }
    .team .team-member-list-info h3 {
      font-size: 18px;
      margin-bottom: 18px; }
    .team .team-member-list-info p {
      margin-bottom: 18px; }
    .team .team-member-list-info a {
      color: #3544b1;
      font-weight: 700; }

.watch-live {
  background-image: url("../images/watch-live.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 90px 0;
  margin-bottom: 90px; }
  .watch-live .watch-live-title {
    text-align: center; }
    .watch-live .watch-live-title h2 {
      font-size: 45px;
      margin-bottom: 10px; }
  .watch-live .btn {
    text-align: center; }
    .watch-live .btn a {
      display: inline-block;
      cursor: pointer;
      border: none;
      outline: none;
      border: 2px solid #3544b1;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 25px;
      border-radius: 3px;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      line-height: 1.55;
      background: transparent;
      color: #3544b1;
      text-decoration: none; }
      .watch-live .btn a:hover {
        background: #3544b1;
        color: #FFF; }

.umbraco-alignment {
  margin-bottom: 90px; }
  .umbraco-alignment .ual {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 120px; }
  .umbraco-alignment .umbraco-first-alignment-info h2 {
    font-size: 45px;
    margin-bottom: 30px;
    line-height: 1.3; }
  .umbraco-alignment .umbraco-first-alignment-info p {
    margin-bottom: 18px; }
  .umbraco-alignment .umbraco-first-alignment-info a {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.55;
    background: #3544b1;
    color: #FFF;
    text-decoration: none; }
    .umbraco-alignment .umbraco-first-alignment-info a:hover {
      background: #4f5eca; }
  .umbraco-alignment .umbraco-first-alignment-info ul {
    margin-top: 15px;
    padding-left: 40px; }
    .umbraco-alignment .umbraco-first-alignment-info ul li {
      list-style-type: disc; }
  .umbraco-alignment .umbraco-secound-alignment .umbraco-first-alignment-img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .umbraco-alignment .umbraco-secound-alignment .umbraco-first-alignment-info {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }

.about {
  background: #F9F7F4;
  padding: 90px;
  margin-bottom: 90px; }
  .about .about-title {
    text-align: center;
    margin-bottom: 50px; }
    .about .about-title h2 {
      font-size: 45px;
      margin-bottom: 10px; }
  .about figure img {
    width: auto;
    margin: 0 auto;
    display: block; }
  .about .why-chooseus-list-info {
    text-align: center;
    margin-top: 30px; }
    .about .why-chooseus-list-info h2 {
      font-size: 22px;
      margin-bottom: 10px; }
    .about .why-chooseus-list-info h3 {
      font-size: 18px;
      margin-bottom: 18px; }
    .about .why-chooseus-list-info p {
      margin-bottom: 18px; }
    .about .why-chooseus-list-info a {
      color: #3544b1;
      font-weight: 700; }

.main-banner {
  margin-bottom: 90px; }
  .main-banner .banner-info {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .main-banner .banner-info .banner-title h1 {
      font-size: 54px;
      font-weight: 900;
      margin-bottom: 25px;
      color: #3544b1; }
    .main-banner .banner-info .banner-title p {
      margin-bottom: 50px; }
    .main-banner .banner-info .banner-title form .control.has-addon {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px; }
    .main-banner .banner-info .banner-title form input[type="text"] {
      padding: 15px;
      font-size: 15px;
      width: 70%;
      color: #8A8A8A;
      border: 2px solid #E5E5E5;
      border-radius: 3px 0 0 3px; }
    .main-banner .banner-info .banner-title form input[type="text"]:focus {
      background: #eee;
      outline: none; }
    .main-banner .banner-info .banner-title form input[type="submit"] {
      width: 30%;
      display: inline-block;
      cursor: pointer;
      border: none;
      outline: none;
      border: 2px solid transparent;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 25px;
      border-radius: 3px;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      line-height: 1.55;
      background: #3544b1;
      color: #FFF;
      text-decoration: none;
      border-radius: 0 3px 3px 0; }
      .main-banner .banner-info .banner-title form input[type="submit"]:hover {
        background: #4f5eca; }
    .main-banner .banner-info .banner-title .control small {
      font-size: 14px; }
    .main-banner .banner-info .banner-img figure img {
      max-width: 100%; }

header {
  margin-bottom: 20px; }
  header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative; }
    header .navbar .nav-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 70%; }
      header .navbar .nav-menu a {
        display: block;
        text-decoration: none;
        padding: 20px;
        font-size: 15px;
        color: #162335; }
      header .navbar .nav-menu .site-title a {
        font-size: 26px;
        font-weight: 700; }
      header .navbar .nav-menu .site-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        header .navbar .nav-menu .site-nav li .sub-menu {
          display: none;
          width: 95%;
          position: absolute;
          top: 86%;
          padding: 40px;
          -webkit-box-shadow: 4px 5px 12px -1px #696969;
          box-shadow: 4px 5px 12px -1px #696969;
          background: #fff;
          z-index: 50;
          left: 0; }
        header .navbar .nav-menu .site-nav li:hover .sub-menu {
          display: block; }
          header .navbar .nav-menu .site-nav li:hover .sub-menu h2 {
            font-size: 18px;
            margin-bottom: 20px;
            padding-left: 20px; }
          header .navbar .nav-menu .site-nav li:hover .sub-menu .sub-menu-list {
            grid-gap: 15px; }
            header .navbar .nav-menu .site-nav li:hover .sub-menu .sub-menu-list .sub-menu-list-grid {
              padding: 20px; }
              header .navbar .nav-menu .site-nav li:hover .sub-menu .sub-menu-list .sub-menu-list-grid:hover {
                background: #f9f7f4; }
              header .navbar .nav-menu .site-nav li:hover .sub-menu .sub-menu-list .sub-menu-list-grid h3 {
                font-size: 16px;
                color: #3544b1;
                margin-bottom: 10px; }
              header .navbar .nav-menu .site-nav li:hover .sub-menu .sub-menu-list .sub-menu-list-grid p {
                font-size: 16px;
                margin-bottom: 15px; }
              header .navbar .nav-menu .site-nav li:hover .sub-menu .sub-menu-list .sub-menu-list-grid a {
                padding: 0; }
    header .navbar .register {
      width: 30%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      header .navbar .register a {
        display: block;
        text-decoration: none;
        padding: 20px;
        font-size: 15px; }
    header .navbar .try-free a {
      display: inline-block;
      cursor: pointer;
      border: none;
      outline: none;
      border: 2px solid transparent;
      font-size: 18px;
      font-weight: 700;
      padding: 10px 25px;
      border-radius: 3px;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out;
      -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
      line-height: 1.55;
      background: #3544b1;
      color: #FFF;
      text-decoration: none;
      font-size: 15px; }
      header .navbar .try-free a:hover {
        background: #4f5eca; }

.wcu {
  background: transparent; }
  .wcu .why-chooseus-list-info a {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.55;
    background: #3544b1;
    color: #FFF;
    text-decoration: none; }
    .wcu .why-chooseus-list-info a:hover {
      background: #4f5eca; }

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #283344; }
  .tabs li a {
    display: block;
    color: #F9F7F4;
    font-size: 14px;
    font-weight: 700;
    padding: 20px;
    text-decoration: none; }
    .tabs li a:hover {
      background: #3d4b61; }

.inner-banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.77)), to(rgba(0, 0, 0, 0.77))), url("../images/inner-banner.png");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url("../images/inner-banner.png");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url("../images/inner-banner.png");
  background: linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)), url("../images/inner-banner.png");
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding: 120px 0;
  text-align: center;
  color: #FFF; }
  .inner-banner h3 {
    font-size: 54px;
    font-weight: 900; }
  .inner-banner p {
    margin-top: 15px; }

.wcu-a .umbraco-first-alignment-info a {
  display: inline-block;
  cursor: pointer;
  border: none;
  outline: none;
  border: 2px solid #3544b1;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 3px;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
  -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
  line-height: 1.55;
  background: transparent;
  color: #3544b1;
  text-decoration: none; }
  .wcu-a .umbraco-first-alignment-info a:hover {
    background: #3544b1;
    color: #FFF; }

.um-paratitle {
  padding: 90px 0; }
  .um-paratitle h2 {
    font-size: 27px;
    margin-bottom: 15px; }
  .um-paratitle p {
    margin-bottom: 15px; }
  .um-paratitle ul {
    margin-top: 15px;
    padding-left: 40px; }
    .um-paratitle ul li {
      list-style-type: disc;
      margin-bottom: 6px; }
  .um-paratitle .powered {
    margin-top: 60px; }
    .um-paratitle .powered h4 {
      margin-bottom: 30px; }
    .um-paratitle .powered ul {
      padding: 0;
      margin: 0; }
    .um-paratitle .powered li {
      list-style-type: none; }

.umbraco-alignment.f-d {
  background: #F9F7F4;
  padding: 90px 0; }
  .umbraco-alignment.f-d .ual {
    max-width: 100%;
    margin-bottom: 40px; }
  .umbraco-alignment.f-d .umbraco-alignment-extra-para h3 {
    font-size: 27px;
    margin-bottom: 15px; }
  .umbraco-alignment.f-d .umbraco-alignment-extra-para p {
    margin-bottom: 15px; }
  .umbraco-alignment.f-d .umbraco-alignment-extra-para .video-links {
    margin: 60px 0; }

.um-paratitle-bg {
  background: #F9F7F4;
  margin-bottom: 90px; }
  .um-paratitle-bg h3 {
    font-size: 24px;
    margin-bottom: 10px; }

.watch-live-nbg {
  background: none; }
  .watch-live-nbg p {
    margin-bottom: 30px; }

.manage-content h2 {
  font-size: 27px;
  margin-bottom: 15px; }

.manage-content p {
  margin-bottom: 60px; }

.two-bundle {
  margin-bottom: 90px; }
  .two-bundle .two-bundle-grid h2 {
    font-size: 22px;
    margin-bottom: 15px; }
  .two-bundle .two-bundle-grid p {
    margin-bottom: 30px; }
  .two-bundle .two-bundle-grid a {
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 25px;
    border-radius: 3px;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    -webkit-box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.1);
    line-height: 1.55;
    background: #3544b1;
    color: #FFF;
    text-decoration: none; }
    .two-bundle .two-bundle-grid a:hover {
      background: #4f5eca; }

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
  color: #162335; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
main,
object,
figure,
canvas,
ul,
li,
ol,
span {
  margin: 0;
  padding: 0;
  list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/*# sourceMappingURL=style.css.map */