// utilities
@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/normalize";


// layout
@import "layout/footer";
@import "layout/team";
@import "layout/watch-live";
@import "layout/umbraco-alignment";
@import "layout/about";
@import "layout/main-banner";
@import "layout/nav";

// pages
@import "pages/why-choose-us";
@import "pages/for-developers";
@import "pages/for-marketers";
@import "pages/content-managment";




body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
    color: $color-body;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
main,
object,
figure,
canvas,
ul,
li,
ol,
span {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    height: auto;
    max-width: 100%;
}




